.fixed-menu {
  position: fixed;
  top: 90px;
  right: 52px;

  @include tablets {
    display: none;
  }
}
.fixed-menu__item {
  &--active {
    .fixed-menu__dot {
      border-color: #fff;
      background: transparent;
    }
  }
  &:hover {
    .fixed-menu__dot {
      border-color: #fff;
      background: transparent;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

.fixed-menu__dot {
  content: '.';
  @include circle(15px, transparent);
  border: 1px solid transparent;
  position: relative;
  outline: none;

  &:before {
    content: '';
    @include circle(6px, #fff);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
  }

  &:last-child {
    margin-bottom: 0;
  }
}
