.map {
  background-image: url(../img/bg/map.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer {
  position: absolute;
  background-color: #131313;
  min-height: 60px;
  left: 0;
  bottom: 0;
}

.footer__content {
  display: flex;
  text-align: center;
  padding: 11px 80px;

  @include phones {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.footer__content-contacts {
  font-size: 14px;
  color: #ffffff;
  width: 50%;
  text-align: left;

  @include phones {
    text-align: center;
  }
}

.footer__content-number {
  font-weight: bold;
  color: #9a3a20;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.footer__content-social {
  width: 50%;
  text-align: right;
  padding-top: 20px;

  @include phones {
    text-align: center;
  }
}

.social {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  &:hover {
    fill: #fff;
    transition: 0.3;
    cursor: pointer;
  }
  &:last-child {
    margin-right: 0px;
  }
}
