.order {
  background: url(../img/bg/order.jpg) center center / cover no-repeat;
  color: #fff;
}

.order__container {
  &:first-child {
    padding-top: 100px;
  }
}
.form {
  display: flex;
  padding-top: 40px;

  @include tablets {
    flex-direction: column;
    padding: 0 10%;
  }
}

.form__input {
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.form__row {
  display: flex;
}

.form__block {
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }
}

.form__column {
  padding-right: 20px;
  width: 50%;
  &:last-child {
    padding-right: 0px;
  }

  @include tablets {
    width: 100%;
    padding-right: 0;
  }
}

.form__title {
  margin-bottom: 7px;
}

.form__input--textarea {
  height: 109px;
}

.form__radio-input {
  position: absolute;
  opacity: 0;
}

.form__radio-item {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 29px;
  margin-right: 20px;
  &:before {
    content: '';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.form__radio-item-red {
  content: '';
  display: none;
  height: 7px;
  width: 7px;
  background-color: #e35028;
  border-radius: 50%;
  position: absolute;
  left: 4px;
}

.form__radio-item .form__radio-input:checked ~ .form__radio-item-red {
  display: inline-block;
}

.form__checkbox-input {
  position: absolute;
  opacity: 0;
}

.form__checkbox-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  &:before {
    content: '';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 2px;
    margin-right: 10px;
  }
}

.form__checkbox-item-red {
  display: none;
  background-color: transparent;
  position: absolute;
  top: 2px;
}

.checkmark__icon {
  fill: #e45028;
}

.form__checkbox-item .form__checkbox-input:checked ~ .form__checkbox-item-red {
  display: inline-block;
}

.order-link_transparent {
  background-color: transparent;
  border: transparent;
  outline: none;
  cursor: pointer;
}
