.slider {
  background-image: linear-gradient(to bottom, #f9b43b, #eb8c38, #f9b43b);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.slider_wrap {
  display: flex;
  height: 100%;
  width: 95%;
  overflow: hidden;
}

.slider_lists {
  display: flex;
  width: 500%;
  flex-shrink: 0;
  position: relative;
}

.scroll-down-btn__left {
  transform: rotate(90deg);
  top: 50%;
  left: 3%;
  height: 15px;
  width: 29px;
  padding: 0;
}

.scroll-down-btn__right {
  transform: rotate(270deg);
  top: 50%;
  left: 95%;
  height: 15px;
  width: 29px;
  padding: 0;
}

.slider_item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 20%;
  height: 100%;
}
.slider_content {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.slider__img-container {
  display: flex;
  width: 50%;
}

.slider__img {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.slider__description {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.section__title-color_white {
  color: white;
  line-height: 1;
}

.slider__description-text {
  color: white;
  font-size: 14px;
  font-family: 'Ubuntu';

  @include tablets {
    text-align: center;
  }
}

.slider__description-text-order {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-text__price {
  color: #e35028;
  font-size: 30px;
  font-family: 'Gagalin';
  margin-right: 10%;

  @include phones {
    font-size: 20px;
  }
}

.description-text__price span {
  font-size: 50px;

  @include phones {
    font-size: 22px;
  }
}

.slider__composition {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background-color: #e35028;
  bottom: 75%;
  left: 0;
  cursor: pointer;

  @include phones {
    width: 80px;
    height: 80px;
  }
}
.slider__composition-products {
  display: none;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  width: 270px;
  border-radius: 5px;
  background-color: #ffffff;
  left: 100%;
  opacity: 0.9;
}
.slider__composition-products-elem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.slider__composition-products-img {
  width: 40px;
  height: 40px;
  margin: 3%;
}

.slider__composition:hover {
  background-color: #cb411b;
  .slider__composition-products {
    display: flex;
  }
}

.slider__composition-img {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 10px;
}

.slider__composition-name {
  position: absolute;
  font-family: 'Gagalin';
  font-size: 14px;
  color: white;
  bottom: 10px;
}

.slider__kkal {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 75%;
  left: 0;
  justify-content: center;

  @include tablets {
    top: 15%;
    left: 87%;
  }

  @include phones {
    width: 80px;
    height: 80px;
    top: 13%;
    left: 83%;
  }
}

.slider__kkal-img {
  position: absolute;
  width: 80%;
  height: 80%;
}

.slider__kkal-quantity {
  position: absolute;
  font-family: 'Gagalin';
  font-size: 20px;
  color: white;
  margin-top: 40%;
}

.slider__kkal-text {
  position: absolute;
  font-family: 'Gagalin';
  font-size: 20px;
  color: white;
  margin-top: 90%;
}
