.slider {
  background-image: linear-gradient(to bottom, #f9b43b, #eb8c38, #f9b43b);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.slider_wrap {
  display: flex;
  height: 100%;
  width: 95%;
  overflow: hidden;
}

.slider_lists {
  display: flex;
  width: 500%;
  flex-shrink: 0;
  position: relative;
}

.scroll-down-btn__left {
  transform: rotate(90deg);
  top: 50%;
  left: 3%;
  height: 15px;
  width: 29px;
  padding: 0;
}

.scroll-down-btn__right {
  transform: rotate(270deg);
  top: 50%;
  left: 95%;
  height: 15px;
  width: 29px;
  padding: 0;
}

.slider_item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 20%;
  height: 100%;
}
.slider_content {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
}

.slider__img-container {
  display: flex;
  width: 55%;
}

.slider__img {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.slider__description {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
}

.section__title-color_white {
  color: white;
  line-height: 1;
}

.slider__description-text {
  color: white;
  font-size: 14px;
  font-family: 'Ubuntu';
}

.slider__description-text-order {
  display: flex;
  align-items: center;
}

.description-text__price {
  color: #e35028;
  font-size: 30px;
  font-family: 'Gagalin';
  margin-right: 10%;
}

.description-text__price span {
  font-size: 50px;
}
